* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.box{
  height:200px;
  width:100vw;
  background:linear-gradient(rgba(250,0,0,0.5),transparent);
  background-color:blueviolet /*this your primary color*/
}

